aiohappyeyeballs==2.6.1
aiohttp==3.12.9
aiohttp-retry==2.9.1
aiosignal==1.3.2
altair==5.5.0
amqp==5.3.1
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.9.0
appdirs==1.4.4
argon2-cffi==23.1.0
argon2-cffi-bindings==21.2.0
arrow==1.3.0
asttokens==3.0.0
async-lru==2.0.5
asyncssh==2.21.0
atpublic==6.0.1
attrs==25.3.0
babel==2.17.0
beautifulsoup4==4.13.3
billiard==4.2.1
bleach==6.2.0
blinker==1.9.0
blis==1.2.0
cachetools==6.1.0
catalogue==2.0.10
celery==5.5.3
certifi==2025.1.31
cffi==1.17.1
charset-normalizer==3.4.1
Choco==1.0.5
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
cloudpathlib==0.21.0
colorama==0.4.6
comm==0.2.2
confection==0.1.5
configobj==5.0.9
contourpy==1.3.1
cryptography==44.0.2
cycler==0.12.1
cymem==2.0.11
debugpy==1.8.13
decorator==5.2.1
defusedxml==0.7.1
dictdiffer==0.9.0
dill==0.3.9
diskcache==5.6.3
distro==1.9.0
docling==2.28.1
docling-core==2.24.0
docling-ibm-models==3.4.1
docling-parse==4.0.0
dpath==2.2.0
dulwich==0.22.8
dvc==3.60.0
dvc-data==3.16.10
dvc-http==2.32.0
dvc-objects==5.1.1
dvc-render==1.0.2
dvc-studio-client==0.21.0
dvc-task==0.40.2
easyocr==1.7.2
entrypoints==0.4
et_xmlfile==2.0.0
executing==2.2.0
fastjsonschema==2.21.1
filelock==3.18.0
filetype==1.2.0
flatten-dict==0.4.2
flufl.lock==8.2.0
fonttools==4.57.0
fqdn==1.5.1
frozenlist==1.6.2
fsspec==2025.3.0
funcy==2.0
gitdb==4.0.12
GitPython==3.1.44
grandalf==0.8
gto==1.7.2
h11==0.14.0
httpcore==1.0.7
httpx==0.28.1
huggingface-hub==0.29.3
hydra-core==1.3.2
idna==3.10
imageio==2.37.0
iopath==0.1.10
ipykernel==6.29.5
ipython==9.0.2
ipython_pygments_lexers==1.1.1
ipywidgets==8.1.7
isoduration==20.11.0
iterative-telemetry==0.0.10
jedi==0.19.2
Jinja2==3.1.6
joblib==1.5.1
json5==0.11.0
jsonlines==3.1.0
jsonpointer==3.0.0
jsonref==1.1.0
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter==1.1.1
jupyter-console==6.6.3
jupyter-events==0.12.0
jupyter-lsp==2.2.5
jupyter_client==8.6.3
jupyter_core==5.7.2
jupyter_server==2.15.0
jupyter_server_terminals==0.5.3
jupyterlab==4.3.6
jupyterlab_pygments==0.3.0
jupyterlab_server==2.27.3
jupyterlab_widgets==3.0.15
kiwisolver==1.4.8
kombu==5.5.4
langcodes==3.5.0
language_data==1.3.0
latex2mathml==3.77.0
layout==0.4.1
layoutparser==0.3.4
lazy_loader==0.4
lxml==5.3.1
marisa-trie==1.2.1
markdown-it-py==3.0.0
marko==2.1.2
MarkupSafe==3.0.2
matplotlib==3.10.1
matplotlib-inline==0.1.7
mdurl==0.1.2
mistune==3.1.3
mpire==2.10.2
mpmath==1.3.0
multidict==6.4.4
multiprocess==0.70.17
murmurhash==1.0.12
mysql-connector-python==9.3.0
narwhals==2.0.0
nbclient==0.10.2
nbconvert==7.16.6
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.11.1.4
notebook==7.3.3
notebook_shim==0.2.4
numpy==2.2.4
omegaconf==2.3.0
opencv-python==4.11.0.86
opencv-python-headless==4.11.0.86
openpyxl==3.1.5
orjson==3.10.18
overrides==7.7.0
packaging==24.2
pandas==2.2.3
pandocfilters==1.5.1
parso==0.8.4
pathspec==0.12.1
patsy==1.0.1
pdf2image==1.17.0
pdfminer.six==20250327
pdfplumber==0.11.6
pillow==11.1.0
platformdirs==4.3.7
pluggy==1.5.0
portalocker==3.1.1
preshed==3.0.9
prometheus_client==0.21.1
prompt_toolkit==3.0.50
propcache==0.3.1
protobuf==6.31.1
psutil==7.0.0
pt_core_news_lg @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_lg-3.8.0/pt_core_news_lg-3.8.0-py3-none-any.whl#sha256=2561c9a72a938d37141e9694e1a36d25061a44ce7e4f3bad2d3fa3bb836191af
pt_core_news_sm @ https://github.com/explosion/spacy-models/releases/download/pt_core_news_sm-3.8.0/pt_core_news_sm-3.8.0-py3-none-any.whl#sha256=c304fa04db3af73cd08a250feacf560506e15a2ec2469bd1b09f06847f6b455c
pure_eval==0.2.3
pyarrow==21.0.0
pyclipper==1.3.0.post6
pycparser==2.22
pydantic==2.10.6
pydantic-settings==2.8.1
pydantic_core==2.27.2
pydeck==0.9.1
pydot==4.0.0
pygit2==1.18.0
Pygments==2.19.1
pygtrie==2.5.0
pylatexenc==2.10
PyMuPDF==1.25.4
pyparsing==3.2.3
pypdf==5.4.0
pypdfium2==4.30.1
pytesseract==0.3.13
python-bidi==0.6.6
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.1.0
python-json-logger==3.3.0
python-pptx==1.0.2
pytz==2025.2
pywin32==310
pywinpty==2.0.15
PyYAML==6.0.2
pyzmq==26.3.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
rfc3339-validator==0.1.4
rfc3986-validator==0.1.1
rich==13.9.4
rpds-py==0.23.1
rtree==1.4.0
ruamel.yaml==0.18.12
ruamel.yaml.clib==0.2.12
safetensors==0.5.3
scikit-image==0.25.2
scikit-learn==1.7.1
scipy==1.15.2
scmrepo==3.3.11
seaborn==0.13.2
semchunk==2.2.2
semver==3.0.4
Send2Trash==1.8.3
shapely==2.0.7
shellingham==1.5.4
shortuuid==1.0.13
shtab==1.7.2
six==1.17.0
smart-open==7.1.0
smmap==5.0.2
sniffio==1.3.1
soupsieve==2.6
spacy==3.8.4
spacy-legacy==3.0.12
spacy-loggers==1.0.5
spacy_layout==0.0.12
sqltrie==0.11.2
srsly==2.5.1
stack-data==0.6.3
statsmodels==0.14.5
streamlit==1.47.1
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
terminado==0.18.1
tesserocr @ file:///C:/Users/abraa/Downloads/tesserocr-2.8.0-cp311-cp311-win_amd64.whl#sha256=8e7165ea8fe5636371fc44dce124fd67fdfd579c59f75a86ab922c6e94988d90
thinc==8.3.4
threadpoolctl==3.6.0
tifffile==2025.3.13
tinycss2==1.4.0
tokenizers==0.21.1
toml==0.10.2
tomlkit==0.13.3
torch==2.5.1+cu121
torchaudio==2.5.1+cu121
torchvision==0.20.1+cu121
tornado==6.4.2
tqdm==4.67.1
traitlets==5.14.3
transformers==4.50.1
typer==0.12.5
types-python-dateutil==2.9.0.20241206
typing_extensions==4.12.2
tzdata==2025.2
uri-template==1.3.0
urllib3==2.3.0
vine==5.1.0
voluptuous==0.15.2
wasabi==1.1.3
watchdog==6.0.0
wcwidth==0.2.13
weasel==0.4.1
webcolors==24.11.1
webencodings==0.5.1
websocket-client==1.8.0
widgetsnbextension==4.0.14
wrapt==1.17.2
XlsxWriter==3.2.2
yarl==1.20.0
zc.lockfile==3.0.post1
